<h1>Hello world!</h1>

<h2>Posted comments</h2>

<% Comment.all.sort_by { |c| Time.now - (c.created_at || Time.at(0)) }.each do |comment| -%>
  <div class="comment">
    <p>
    <%= comment.user ? user_name(comment.user) : 'Someone' %> wrote: <%= comment.text %>
    <%= "(%s ago)" % time_ago_in_words(comment.created_at) unless comment.created_at.nil? %>
    </p>
  </div>
<% end -%>

<% if logged_in? -%>
  <h2>Leave a comment!</h3>

  <%= form_for Comment.new do |f| -%>
    <p>
    <%= f.label :text %>: <%= f.text_field :text %> (Your name will show up as '<%= user_name current_user %>')
    </p>

    <p><%= f.submit 'Post comment' %></p>
  <% end %>
<% end -%>
